<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^index.html /index.php [NC]
RewriteRule ^sign_in.html /sign_in.php [NC]
RewriteRule ^login.html /login.php [NC]
RewriteRule ^deposit_process.html /deposit_process.php [NC]
RewriteRule ^withdrawals_process.html /withdrawals_process.php [NC]
RewriteRule ^activities.html /activities.php [NC]
RewriteRule ^preferential.html /preferential.php [NC]
RewriteRule ^history_preferential.html /history_preferential.php [NC]
RewriteRule ^winning_information.html /winning_information.php [NC]
RewriteRule ^table_games.html /table_games.php [NC]
RewriteRule ^real_person.html /real_person.php [NC]
RewriteRule ^slot_machine.html /slot_machine.php [NC]
RewriteRule ^poker.html /poker.php [NC]
RewriteRule ^more_game.html /more_game.php [NC]
RewriteRule ^partners.html /partners.php [NC]
RewriteRule ^conect_way.html /contact_way.php [NC]
RewriteRule ^qa.html /qa.php [NC]
RewriteRule ^remote_assistance.html /remote_assistance.php [NC]
RewriteRule ^ranking_list_week.html /ranking_list_week.php [NC]
RewriteRule ^ranking_list_month.html /ranking_list_month.php [NC]
RewriteRule ^ranking_list_year.html /ranking_list_year.php [NC]
RewriteRule ^ranking_list_season.html /ranking_list_season.php [NC]
RewriteRule ^password_find.html /password_find.php [NC]
RewriteRule ^agency.html /agency.php [NC]
RewriteRule ^agency_login.html /agency_login.php [NC]
RewriteRule ^agent_on.html /agent_on.php [NC]
RewriteRule ^friends_recommendation.html /friends_recommendation.php [NC]
RewriteRule ^game_demo.html /game_demo.php [NC]
RewriteRule ^responsibility.html /responsibility.php [NC]
RewriteRule ^about_us.html /about_us.php [NC]
RewriteRule ^faq.html /faq.php [NC]
RewriteRule ^cnotice.html /cnotice.php [NC]
RewriteRule ^qnotice.html /qnotice.php [NC]
RewriteRule ^partner.html /partner.php [NC]
RewriteRule ^tfu.html /tfu.php [NC]
RewriteRule ^video_poker.html /video_poker.php [NC]
</IfModule>
