.ke-content {
	font-size: 12px;
	background-color: #ffffff;
}
.ke-content table {
	border-collapse:collapse;
}
.red {
	color: white;
	background-color: red;
}
.green {
	color: white;
	background-color: green;
}
.yellow {
	color: white;
	background-color: yellow;
}
@charset "utf-8";
/* CSS Document */
.body{
	background-color:#000;
	margin:0 auto;
	width:100%;
	}

.content{
	width:1000px;
	height:530px;
	margin:0 auto;
	}

.content_left{
	width:747px;
	height:530px;
	float:left;
	}

.banner{
	width:747px;
	height:268px;
	float:left;
	}

.container{
	width:747px;
	height:251px;
	float:left;
	margin-top:11px;
	}

.sidebar{
	width:242px;
	height:251px;
	float:left;
	margin-right:10px;
	}

.sidebar2{
	width:242px;
	height:251px;
	float:left;
	}

.content_right{
	width:245px;
	height:530px;
	float:left;
	margin-left:8px;
	}

.mav_bottom{
	width:245px;
	height:54px;
	float:left;
	margin-top:8px;
	}

.mav_bottom2{
	width:245px;
	height:54px;
	float:left;
	margin-top:8px;
	margin-bottom:15px;
	}

.mav_yh{
	width:245px;
	height:84px;
	float:left;
	margin-bottom:10px;
	}
