body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #000;
}
a{ text-decoration: none;}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}
a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 1400px;
	background: #000;
	margin: 0 auto; 
}

.header {
	background-image:url(images/01.png);
	background:repeat x;
	height:28px;
	padding-top: 15px;
}
.yyxz{
	width:80px;
	height:12px;
	position:relative;
	margin-left:-40px;
	margin-top:-2px;	
}
.yyjd{  height:12px; position:absolute; left:-5px; top:0px; overflow:hidden}
.content {
	padding: 10px 0;
	width: auto;
	height: 692px;
}

.footer {
	padding: 10px 0;
	clear: left;
	font-size:12px;
	width:100%; 
	height:169px; 
	background:url(images/2.png) no-repeat center top; 
	margin-top:18px;
	}

.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.content .left {
	background-image: url(images/02.gif);
	float:left;
	display:block;
	width:201px;
	height:692px;
	*margin:0;
	}
.content .m {
	display:block;
	 float:left; 
	 width:998px;
	}
.content .m .top{
	display:block; 
	background-image: url(images/03.gif); 
	height:89px;
	margin-top:0px;

	
	}
.content .m .c{
	margin-top:0px;
	width:auto;
	clear: left;
	background-image: url(images/backgound.gif);
	}
.content .m .c .l{
	display:block; 
	float:left; 
	width:142px!important;
	margin-left:13px;
	*margin-left:6px;
	}
.content .m .c .l .top1{
	height:114px;
	background-image:url(images/07.gif)
	}
.content .m .c .l .top1 p{
	font-size:12px;
	*font-size:11px;
	margin:0px auto 0 38px;
	*margin:5px auto 0 38px;
	padding-top:5px;
	*padding-top:5px;
	}
.content .m .c .l .top1 ul{
	display:block;
	margin-top:5px;
	*margin-top:10px;
		}
.content .m .c .l .top1 li{
	font-size:12px;
	*font-size:11px;
	margin-left:7px;
	margin-bottom:0;
	list-style:none;
	}
.content .m .c .l #link{
	margin:18px 0;
	}
.content .m .c #content{
	display:block;
	float:left;
	width:795px;
	margin:0 20px;
	*margin:0 10px 0 25px;
	margin-bottom:4px!important;
	*margin-bottom:2px;
	}
.content .m .c #content .t{
	height:114px;
	}
.content .m .c #content .mad{
	width:629px;
	height:17px;
	}
.content .m .c #content .con{
	background-color:#FFF;
	padding:15px 18px;
	height: 548px;
	}
	
.content .m .c #content .con ul li{
	display:block;
	float:left;
	list-style-type:none;
	margin-left:1px;
	background-color: #999;
	font-size:12px;
	text-align:center;
	padding:5px 21px 1px 21px;
	color:#B8EFF9;
	}
.content .m .c #content .con ul li:hover{
	background-color: #B8EFF9;
	}
.content .m .c #content .con ul li:hover a{
	color:#FFF;
	}
#content .con ul li a{
	text-decoration:none;
	}
.content .m .c #content .con .nr{
	height:450px;


*height:390px;			clear:left;
	border-top:#B8EFF9 solid 1px;
	}
.nrbanner{
	height:17px;
	background-color:#000;
	color:#B8EFF9;
	margin-top:14px;
	font-size: 14px;
	padding: 3px 0 3px 20px;
    }
.span{
	border-bottom:#000 solid 1px;
	width:70px;
	display:block;
	float:left;
	margin-top:15px;
	font-size:12px;
	height:18px;
	}
.span1{
	width:62px;
	display:block;
	float:left;
	margin-top:15px;
	font-size:12px;
	margin-bottom:7px;
	*margin-bottom:0px;
	}
.content .m .c #content .con .nr .qt{
	height:350px;
	text-align: center;
	clear: left;
	font-size: 12px;
	margin-top: 10px;
	}
.content .m .c #content .con .nr .qt tr{
	padding-top:9px;
	}
.top2{
	display:block;
	height:15px;
	background-image: url(images/05.gif);
	}
.r2{
	float:  left; 
	width:144px;
	margin-right:0px; 
	*margin-right:14px;
	margin-top:-10px;
	*margin-top:0px;
	}
.r2 div{
	margin-bottom:7px;
	*margin-bottom:7px;
}
.div{
	font-size:30px;
	font-family: "黑体";
	margin:10px auto 10px 55px;
	color:#FFF;
	}
.top ul{ 
margin-left:184px; 
margin-top:58px;
}
.top ul li{
	display:block;
	float:left;
	list-style-type:none;
	margin-left:1px;
	margin-top:55px;
	*margin-top:0px;

		}
.header ul li{
	display:block;
	float:left;
	list-style-type:none;
	margin-right:40px;
	color:#FFF;
	font-size:12px;
	}
.header ul li a{
	color:#FFF;
	text-decoration:none;	
	}
.yyjd{  
height:22px; 
position:absolute; 
left:-5px; 
top:0px; 
overflow:hidden
}
.yyjd:hover{  
height:22px; 
position:absolute; 
left:-5px; 
top:0px; 
}
.wdqb{
	height:602px;
	background-color:#FFF;
	padding: 18px;
	clear: left;
	margin-top:0px;
	}
.wdqb ul li{
	display:block;
	float:left;
	list-style-type:none;
	margin-left:1px;
	background-color: #999;
	font-size:12px;
	text-align:center;
	padding:5px 21px 1px 21px;
	}
.wdqb ul li:hover{
	background-color: #FEB638;
	}
.wdqb ul li:hover a{
	color:#FFF;
	}
.wdqb ul li a{
	text-decoration:none;
	}
	
.wdqb .nl{
	height:389px;
	margin-top:10px;
	}
.wdqb .nltop{
	background-color:#000;
	padding:5px 20px;
	color: #B8EFF9;
	font-size: 14px;
	}
.wdqb .nlcon{
	text-align:center;
	color: #B8EFF9;
	font-size: 12px;
	margin-top: 20px;
	clear: left;
}
.wdqb .nlbottom{
	font-size:12px;
	margin-top:50px;
	margin-left:190px;
	}
.wdqb .nltop1{
	width:998px;	
	}
.wdqb .nltop1 span{
	display:block;
	float:left;
	background-color:#FEB638;
	border:#000 solid 1px;
	margin-top:30px;
	font-size:12px;
	text-align:center;
	width: auto;
	height:20px;
	}
.wdqb .nltop2{
	width:998px;	
	}
.wdqb .nltop2 span{
	display:block;
	float:left;
	background-color:#FEB638;
	border:#000 solid 1px;
	margin-top:20px;
	font-size:12px;
	text-align:center;
	width: auto;
	height:20px;
	}
